.buttonList {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  .resUnderLine {
    border-bottom: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  >div{
    width: 45%;
  }

  button{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
  }
}

@media screen and (max-width:800px) {
  .buttonList{
    flex-wrap: wrap;
    justify-content: center;

    >div{
      width: 80%;
    }  

    
  }
}