.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:8px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.iconMargin {
    margin-right: 10px;
}