{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-import",
    "eslint-plugin-react",
    "eslint-plugin-react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    // "eslint-config-airbnb", // kind of too strict
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "18"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", "json"]
      }
    }
  },
  "rules": {
    "no-console": 1,
    "no-empty-pattern": 1,
    "@typescript-eslint/no-empty-interface": 1
  },
  "ignorePatterns": ["node_modules/**", "webpack.config.js", "commitlint.config.js"]
}
