{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "no-empty-source": null,
    "block-no-empty": null,
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "scss/dollar-variable-pattern": null,
    "declaration-empty-line-before": null,
    "color-function-notation": null,
    "alpha-value-notation": null
  }
}
