$squareGap: 2px;

.container {
  display: flex;
  flex-direction: column;
  gap: $squareGap;
  width: 100%;
}

.square {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  border-radius: 6px;

  font-size: 24px;
  user-select: none;
  cursor: pointer;
  transition: background-color 150ms;

  &:not(.disabled):hover {
    background-color: rgba(0, 0, 0, 0.18);
  }

  &.selected {
    background-color: rgba(0, 0, 0, 0.14);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &.disabled::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.08);
  }
}
