.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  padding: 16px 30px;
  background-color: white;
}

.handList{
  display: flex;
  align-items: center;
}

.textContiner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 200px;
}

.title{
  font-weight: 600;
  color: gray;
}

.text {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  text-align: center;
}

.btnMargin {
  margin-right: 10px;
}

.amountIcon{
  color:gray;
  font-size: 24px;
}
