.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 60px;
  margin: 0 100px;

  .switchUser {
    margin-left: 16px;
  }
}

.content {
  margin: 0 100px;
}

@media screen and (max-width: 500px) {
  .header,
  .content {
    margin: 0 10px;
  }
}
