.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin: 20px 100px 0;

  .switchUser {
    margin-left: 16px;
  }
}

.content {
  margin: 10px 100px 0;
}
