.actionContainer {
  width: 100%;
  padding: 4px 60px;
  font-size: 18px;

  &.stage {
    background-color: #eee;
  }

  & > .wrapper {
    display: flex;
    justify-content: center;
    gap: 8px;

    .cards {
      display: flex;
      justify-content: center;
      flex: 1;
    }
  }

  &.deal > .wrapper {
    width: 100%;
  }

  .players,
  .chips,
  .potSize {
    font-weight: 600;
  }
}

@media screen and (max-width: 500px) {
  .actionContainer {
    padding: 4px 20px;
  }
}
