$color-match: #c2d7ef;

.buttonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;

  button {
    height: 40px;
    border-radius: 10px;
  }

  button + button {
    width: 38%;
    margin-top: 10px;
  }
  
  button:nth-child(1) {
    width: 80%;
  }

  .bottomBtn {
    margin-right: 20px;
  }
}

@media screen and (max-width: 800px) {
  .buttonList {
    justify-content: flex-start;

    button {
      width: 80% !important;
    }
  }
}

.btnSvg {
  color: $color-match;
}

.deepBtn {
  background-color: $color-match;
}
