$color-match: #c2d7ef;

.stepList{
  padding-top: 20px;
  max-width: 600px;
  overflow: auto;
}

.buttonList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:stretch;
  gap:10px;
  min-width: 200px;
}

.btnRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  border-radius: 10px;
}

.deepBtn{
  background-color: $color-match;
}