$color-match: #c2d7ef;

.buttonList {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 60%;
}

.historyChangeBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 4px;
  border: 2px dashed $color-match;
}

.historyBtnSecond {
  display: flex;
  justify-content: space-between;
  gap:10px;
}

.prevBtn{
  width: 150px;
}

.stateChangeBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  gap: 10px;
  padding: 5px 4px;
  border: 2px dashed $color-match;
}

.stateBtnSecond {
  display: flex;
  justify-content: space-around;
}

.nextBtnWrap {
  align-self: center;
}

.nextBtn {
  width: 200px;
  border-radius: 10px;
  background-color: $color-match;
}
