.amountSum {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}

.leftWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
