.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  border-radius: 10px;
  padding: 16px 30px;
  background-color: white;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textContiner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 200px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.calcText{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 60px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.otherText{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}


.inputForm {
  border-bottom: 1px solid gray;
  width: 200px;
  overflow: hidden;

  input {
    margin-left: 15px;
  }
}

.btnMargin {
  margin-right: 10px;
}

.rightWrap {
  overflow: auto;
}

.title{
  font-weight: 600;
  color: gray;
}

.calcList{
  display: flex;
  align-items: center;
  gap:10px
}