.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  padding: 16px 30px;
  background-color: white;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textContiner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 200px;

  .text {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
  }
}

.restContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.inputForm {
  :global {
    .ant-form-item-control-input {
      border-bottom: 1px solid black;
      width: 200px;
      overflow: hidden;
    }
    
    .ant-form-item-explain-error {
      display: flex;
      justify-content: center;
    }
  }

  input {
    margin-left: 15px;
  }
}

.btnMargin {
  margin-right: 10px;
}

.rightWrap {
  overflow: auto;
}
