.container {
  // display
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // position

  // box
  max-width: 800px;
  padding-bottom: 32px;
  margin: 0 auto;
  border: 0;
  border-radius: 10px;

  // text

  // color
  background-color: whitesmoke;
}

.buttonList {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
  align-items: stretch;
  width: 50%;
}

.twoBtnContainer {
  display: flex;
  justify-content: space-between;
}

.nextBtn {
  border-radius: 10px;
  background-color: #a1e6b0;
  height: 4vh;
  width: 100%;
}
