$color-match: #c2d7ef;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  padding-bottom: 32px;
  margin: 0 auto;
  border: 0;
  border-radius: 10px;
  background-color: whitesmoke;
}

.playerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
  overflow: auto;
  width: 80%;
}

.buttonList {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.addBtn {
  height: 30px;
  border-radius: 10px;

  .btnSvg {
    color: $color-match;
  }
}

.nextBtn {
  height: 30px;
  border-radius: 10px;
  background-color: $color-match;

  :where(.css-dev-only-do-not-override-yp8pcc).ant-btn-default:not(:disabled):active {
    color: $color-match !important;
    border-color: $color-match !important;
  }
}
