$color-match: #c2d7ef;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  padding-bottom: 32px;
  margin: 0 auto;
  border: 0;
  border-radius: 10px;
  background-color: whitesmoke;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 140px;
  padding: 16px 20px;
  background-color: $color-match;

  .leftWrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;

    :global {
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }
}

.inputForm {
  border-bottom: 1px solid black;
  width: 250px;
  overflow: hidden;

  input {
    margin-left: 15px;
  }
}

.playerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
  overflow: auto;
  width: 80%;
}

.buttonList {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.addBtn {
  height: 30px;
  border-radius: 10px;

  .btnSvg {
    color: $color-match;
  }
}

.nextBtn {
  height: 30px;
  border-radius: 10px;
  background-color: $color-match;

  :where(.css-dev-only-do-not-override-yp8pcc).ant-btn-default:not(:disabled):active {
    color: $color-match !important;
    border-color: $color-match !important;
  }
}
