.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  padding: 16px 30px;
  background-color: white;
}

.colContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  width: 200px;
}

.textContiner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid black;
  padding-left: 10px;
  text-align: center;
}

.btnMargin {
  margin-right: 10px;
}
