.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 8px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
  width: 500px;
  height: 200px;
  border: 2px solid #d9d9d9;
  border-radius: 6px;
  font-size: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.88);
  user-select: none;
  transition: color 200ms, border-color 200ms;
}

@media screen and (max-width: 800px) {
  .btn {
    width: calc(100% - 8px);
    margin: 0 4px;
  }
}
