$color-match: #c2d7ef;

.buttonList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 50%;
  gap: 1vh;
}

.twoBtnContainer {
  display: flex;
  justify-content: space-between;
}

.singleBtn {
  width: 100%;
  border-radius: 10px;

  .btnSvg {
    color: $color-match;
  }
}
