$color-match: #c2d7ef;

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 10px;
  padding: 16px 30px;
  background-color: white;
}

.firstCol {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.handList {
  display: flex;
  gap: 10px;
}

.inputForm {
  border-bottom: 1px solid gray;
  width: 250px;
  overflow: hidden;

  input {
    margin-left: 15px;
  }
}

.nameWithAmount {
  display: flex;
  gap: 5px;
}

.secondCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numberBtnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btnBG {
  background-color: $color-match;
}

.textContiner {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.title {
  font-weight: 600;
  color: gray;
}

.calcText {
  width: 60px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.otherText {
  width: 10px;
  text-align: center;
}

.btnMargin {
  margin-right: 10px;
  color: gray;
}

.amountIcon {
  font-size: 24px;
  color: gray;
}

.btnList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.visibleLine{
  display: flex;
  align-items: center;
}

.content{
  margin-left: 10px;
}
