$color-match: #c2d7ef;

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 16px 30px;
  background-color: white;
}

.firstLine {
  display: flex;
  justify-content: space-between;

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.inputForm {
  :global {
    .ant-form-item-control-input {
      border-bottom: 1px solid black;
      width: 250px;
      overflow: hidden;
    }

    .ant-form-item-explain-error {
      display: flex;
      justify-content: center;
    }
  }

  input {
    margin-left: 15px;
  }
}

.secondLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numberBtnWrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #cdc8c8;
  width: 60px;
  height: 30px;
  
  .btnSplitLine {
    width: 1.8vw;
    border-right: 1px solid #cdc8c8;
  }
}

.btnBG {
  background-color: $color-match;
}
