$color-match: #c2d7ef;

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  border-radius: 10px;
  padding: 16px 30px;
  margin-bottom: 20px;
  background-color: white;

  > div {
    width: 45%;
  }

  > div:nth-child(1) {
    margin-bottom: 20px;
  }

  > div:nth-child(2) {
    margin-bottom: 20px;
  }

  > div:nth-child(2n-1) {
    margin-right: 50px;
  }
}

.inputForm {
  border-bottom: 1px solid gray;
  overflow: hidden;

  input {
    margin-left: 15px;
  }
}

.textContiner {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;

  .calcText {
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
  }

  .otherText {
    text-align: center;
  }
}

.btnList {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .numberBtnWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

.visibleLine {
  display: flex;
  align-items: center;

  .content {
    margin-left: 10px;
  }
}

.btnBG {
  background-color: $color-match;
}

.title {
  font-weight: 600;
  color: gray;
}

.btnMargin {
  margin-right: 10px;
  color: gray;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 16px 10px;

    > div {
      width: 90%;
      margin-bottom: 10px;
      margin-right: 0 !important;
    }
  }
}
