$color-match: #c2d7ef;

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 16px 20px;
  background-color: $color-match;

  .leftWrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;

    :global {
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }
}

.inputForm {
  border-bottom: 1px solid black;
  width: 150px;
  overflow: hidden;

  input {
    margin-left: 15px;
  }
}
